<h1>Stupid Coaching</h1>

<div>
  <p><%= @question %></p>
  <p>-<em>You</em> </p>
</div>

<div>
  <p><%= @answer %></p>
  <p>-<em>Your Teacher</em></p>
</div>

<div>
  <button type="button"><%= link_to "Ask again", ask_path %></button>
</div>
